<h2>Detalles del Producto</h2>

        <div *ngIf="loading$ | async">Cargando detalles del producto...</div>

        <div *ngIf="error$ | async as error">Error: {{ error.message || 'Error al cargar detalles del producto.' }}</div>

        <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
            <div>
                <label for="id">ID:</label>
                <input type="text" id="id" formControlName="id" readonly>
            </div>
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" formControlName="nombre">
                <div *ngIf="productForm.get('nombre')?.invalid && productForm.get('nombre')?.touched" class="error-message">El nombre es obligatorio.</div>
            </div>
            <div>
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" formControlName="descripcion"></textarea>
            </div>
            <div>
                <label for="precio">Precio:</label>
                <input type="number" id="precio" formControlName="precio">
                <div *ngIf="productForm.get('precio')?.invalid && productForm.get('precio')?.touched" class="error-message">El precio es obligatorio.</div>
            </div>
            <div>
                <label for="categoria">Categoría:</label>
                <input type="text" id="categoria" formControlName="categoria">
            </div>

            <div *ngIf="!isEditing">
                <button type="button" (click)="startEditing()">Editar</button>
            </div>

            <div *ngIf="isEditing">
                <button type="button" (click)="cancelEditing()">Cancelar</button>
                <button type="submit">Guardar</button>
            </div>
        </form>