<main>
    <section>
        <h2>Iniciar Sesión</h2>

        <div *ngIf="error$ | async as error" class="error-message">
            {{ error || 'Error al iniciar sesión.' }}
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" formControlName="username" class="form-control">
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                    class="error-message">
                    Por favor, ingresa tu nombre de usuario.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" formControlName="password" class="form-control">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="error-message">
                    Por favor, ingresa tu contraseña.
                </div>
            </div>
            <button type="submit" [disabled]="loading$ | async" class="btn btn-primary">
                <span *ngIf="loading$ | async">Cargando...</span>
                <span *ngIf="!(loading$ | async)">Iniciar Sesión</span>
            </button>
        </form>

        <p>¿No tienes una cuenta? <a href="#" (click)="navigateToRegister()">Regístrate</a></p>
    </section>
</main>