<div class="login-container">
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <h2>Iniciar Sesión</h2>

        <input type="text" name="username" [(ngModel)]="credentials.username" placeholder="Usuario" required />

        <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="Contraseña" required />

        <button type="submit" [disabled]="!loginForm.form.valid">Ingresar</button>

        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
</div>