<div class="register-container">
    <form (ngSubmit)="register()" #registerForm="ngForm">
        <h2>Registrarse</h2>

        <input type="text" name="username" [(ngModel)]="user.username" placeholder="Usuario" required />

        <input type="email" name="email" [(ngModel)]="user.email" placeholder="Correo" required />

        <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required />

        <button type="submit" [disabled]="!registerForm.form.valid">Registrarse</button>

        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
</div>